// Colour Variables // --------------------------------------------------

$darkest-blue: #2c4962;
$dark-blue: #3f698b;
$medium-blue: #d6e8f8;
$light-blue: #edf3fc;

$graphite: #3c4242;
$medium-grey: #c5c5c5;

$orange: #ff8e2d;

$white: #ffffff;
